
/*

@media (max-width: 1230px) {
    /* INTRO 

    .intro__subtitle {
        font-size: 35px;
    }
    
    .intro__title {
        font-size: 80px;
    }

    /*

    .reviews__text {
        padding-top: 40px;
        font-size: 20px;
    }
    
    /*logo
    .logo__img {
        max-width: 130px;
    }
}

@media (max-width:990px) {

      /* INTRO 
    .intro__subtitle {
        font-size: 30px;
    }
    
    .intro__title {
        font-size: 65px;
    }

     /* STATISTIC 
    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.3333%;
        border: 0;
        padding: 25px 25px;
     }

    .stat__item:last-child {
        border-right: 0;
    }

    /* services 
    .services__item {
        width: 50%;
    }

    .services__item--border {
        border-bottom: 0;
    }
    /* REVIEWS
    .reviews__item {
        padding-left: 175px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__text {
        padding-top: 10px;
    }

    .reviews__author::before {
        max-width: 50px;
    }

    /*LOGO
    .logo__img {
        max-width: 90px;
    }
}

@media (max-width: 770px) {


    .header {
        padding: 10px 0;
        background-color: rgba(13, 13, 96, 0.653);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        right: 0;

        background-color: rgba(13, 13, 96, 0.831);
    }

    .nav.active {
        display: block;
        position: absolute;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 10px;
    }

    .nav-toggle {
        display: block;
    }

     /* INTRO 
    .intro {
        min-height: 500px;
        max-width: 100%;
    }
     .intro__subtitle {
        font-size: 20px;
    }
    
    .intro__title {
        font-size: 45px;
    }

    .intro__title::after {
        width: 400px;
    }

    /* SECTION 

        .section__subtitle {
            font-size: 15px;
        }

        .section__title {
            font-size: 20px;
        }

        .section__2 {
            padding-bottom: 0;
        }

        .section__subtitle_2 {
            font-size: 15px;
        }

        .section__text {
            font-size: 10px;
        }
        
        .section__title_2 {
            font-size: 20px;
        }

        .section__header--bottom {
            margin-bottom: 0;
            padding-bottom: 0px;
        }

    /*  about
    .about__item {
        max-width: 30%;
    }

    /* SLIDER 
    .slider__text {
        display: none;
    }

    .slider__items.active::before {
        width: 50%;
    }

    /* services 
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
        padding-bottom: 0;
    }

    .services__icon {
        left: 0;
    }

    /* ABOUT ( CARD )
    .about {
        margin-top: 50px;
        justify-content: center;
    }

    .about__item {
        width: 60%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .about__item:last-child {
        margin-bottom: 0;
    }

    .about__name {
        font-size: 15px;
    }

    .about__prof {
        font-size: 10px;
    }

    /* STATISTIC *
    .stat__count {
        font-size: 25px;
        margin-bottom: 0px;
    }

    /* DEVICES *
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        bottom: -60px;
        max-width: 30%;
    }
  
    /*WE DO*
    .wedo {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .wedo__items {
        width: 100%;
        padding: 0 15px;
    }
    .wedo__img {
        display: none;
    }

    /* LOGO *

    /* REVIEWS *
    .reviews {
        padding: 20px 80px;
    }

    .reviews__item {
        padding-left: 0px;
    }
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }
    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /* CLIENTS *

    .clients {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .clients__item {
        width: 100%;
        padding: 0px 20px 60px 165px;
        position: relative;
    }

    /**
    .logo {
        margin: 0 22px;
    }

    .logo__item {
        padding: 0;
    }

}

@media (max-width: 575px) {

    /* STATISTIC *
    .stat__count {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .stat__item {
        padding: 15px 15px;
    }

    .stat__text {
        font-size: 7px;
    }

    /* INTRO *

    .intro {
        min-height: 400px;
    }
    .intro__subtitle {
        font-size: 15px;
    }
    
    .intro__title {
        font-size: 35px;
    }

    .intro__title::after {
        width: 300px;
    }
    /* SECTION *

        .section__header {
            margin-bottom: 20px;
        }

        .section__title::after {
            margin: 15px auto;
        }

        .section__title {
            font-size: 15px;
        }

        .section__text {
            font-size: 10px;
        }

         /* ABOUT ( CARD )*

    .about {
        justify-content: center;
    }

    .about__item {
        width: 40%;
        max-width: 410px;
        margin-bottom: 15px;
    }

    .about__item:last-child {
        margin-bottom: 0;
    }

    .social__icon {
        margin: 2px 7px;
        max-width: 20px;
        opacity: 100%;
        padding-top: 4px;
    }

      /* LOGO *

      .logo__img {
        max-width: 75px;
    }
            

    .subscribe__input {
        width: 50%;
        height: 20px;
        padding: 5px;
        font-size: 7px;
    }

    .subscribe__btn {
        font-size: 5px;
        height: 20px;
        padding: 5px;
    }

    /* REVIEWS *
    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 18%;
    }    

    /*blog*

    .blog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .blog__item {
        width: 60%;
    }

    /*FOOTER*
    .footer__col--first {
        width: 100%;
    }
    
    .footer__col--second {
        width: 100%;
    }
  
}

@media (max-width: 450px) {

    .header__logo {
        font-size: 20px;
        padding-top: 9px
    }

    .header_logo_icon {
        margin-right: 2px;
        max-width: 20px;
        max-height: 20px;
    }

/*SECTION*
    .section__header {
        margin-bottom: 30px;
    }

    .section__title::after {
        margin: 7px auto;
    }

    .section__text {
        padding: 10px;
        font-size: 8px;
    }

/*ACCORDION*
    .accordion__content {
        font-size: 12px;
    }

    .accordion__title {
        font-size: 12px;
    }    

    /*clients*

    .clients__item {
        width: 100%;
        padding: 0px 10px 20px 90px;
        position: relative;
    }

    .clients__photo {
        max-width: 50px;
        max-height: 50px;
    }

    .clients__name {
        font-size: 11px;
    }

    .clients__prof {
        font-size: 8px;
    }

    .clients__text {
        font-size: 9px;
    }

    /*ABOUT*
    .about {
        margin-top: 25px;
    }

    .about__item {
        width: 30%;
    }

    .about__text {
        font-size: 10px;
    }

    .about__name {
        font-size: 10px;
    }

    .about__prof {
        font-size: 7px;
    }

    .social__icon {
        margin: 2px 7px;
        max-width: 15px;
        opacity: 100%;
        padding-top: 4px;
    }

    /* SERVISES *

    .services__item {
        width: 80%;
        padding-left: 30px;
    }
    
    .services__icon {
        width: 20px;
    }

    .services__text {
        font-size: 10px;
    }

    /*BLOG*

    .blog__date {
        padding: 5px 7px;
        font-size: 8px;
    }

    .blog__date--day {
        font-size: 10px; 
    }

    .blog__title {
        margin-bottom: 10px;
        font-size: 8px;
    }

    .blog__text {
        font-size: 8px;
    }

    .blog__footer {
        font-size: 10px;
    }

    .blog__icon {
        max-width: 10px;
        margin: 0 2px;
    }

    /*  footer *
    .footer__logo {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .footer__text {
        margin-bottom: 20px;
        font-size: 12px;
    }

    /*FOOTER ITEMS*

        .subscribe__btn {
        font-size: 10px;
        height: 30px;
        padding: 10px;
        }
    
        .subscribe__input {
            width: 50%;
            height: 30px;
            padding: 5px;
            font-size: 10px;
        }
    
        .blogs__title {
            font-size: 10px;
        }

        /**
        .logo__item {
            padding: 0 5px;
        }

        .logo__img {
            max-width: 45px;
        }
} */